body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
}

.container {
  height: 320px;
  width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 25px;
  box-sizing: border-box;
  background-image: linear-gradient(hsl(213, 19%, 18%) 70%, hsl(216, 12%, 8%));
  background-color: hsl(216, 12%, 8%);
}

img {
  height: 12px;
  width: 12px;
}

.star-container {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.title {
  color: hsl(0, 0%, 100%);
  font-size: larger;
  font-weight: 700;
  opacity: 0.9;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
}

.comment {
  font-size: smaller;
  color: hsl(217, 12%, 63%);
  line-height: 1.25rem;
  margin: 0;
}

.round-button-container {
  display: flex;
  justify-content: space-between;
}

.number-container {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  /* why is the number not exactly at the center */
  box-sizing: border-box;
  padding-top: 2.5px;

  font-size: small;
  font-weight: 600;
  opacity: 0.5;
}

button {
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 600;
  color: black;
  letter-spacing: 0.1rem;

  /* i tried centering text outside of button default */
  /* not seeing a big difference */

  /* text-align: center; */

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 20px;
  height: 30px;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

.number-container:hover {
  background-color: hsl(25, 97%, 53%);
  opacity: 1;
  cursor: pointer;
}
